<!DOCTYPE html>
<html>
  <head>
    <title>LabAssignment10Esperanza11</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div style="align-self: right; overflow: auto">
  <button style="float: right">Log in</button>
  <button style="float: right">Log out</button>
  </div>
    <%= yield %>
  </body>
</html>
